services:
  mongodb:
    image: mongo:8.2.6-rc0-windowsservercore-ltsc2022
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: password
    restart: unless-stopped

volumes:
  mongo-data:
